@import 'pure';

h1 {
    font-size: 2em;
    margin: 0.5em 0 1em;

    & > small {
        color: gray;
        font-size: 70%;
    }
}

.l-box {
    padding: 1em;
}

tr.completed {
  background: rgb(28, 184, 65);
  color: white;
}

@media (max-width: 600px) {
    table {
        margin: auto;
    }

    .l-box {
        padding-left: 0;
        padding-right: 0;
    }

    table.responsive {
        border: 0;
    }

    table.responsive thead {
        display: none;
    }

    table.responsive tr {
        margin-bottom: 10px;
        display: block;
        border: 2px solid #ddd;
    }

    table.responsive td {
        display: block;
        text-align: right;
        font-size: 13px;
        border: 0;
        border-bottom: 1px dotted #ccc;
    }

    table.responsive td:last-child {
        border-bottom: 0;
    }

    table.responsive td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.container {
    margin: 0 1em;
}

.text-success {
    color: rgb(28, 184, 65);
    /* this is a green */
}

.text-error {
    color: rgb(202, 60, 60);
    /* this is a maroon */
}

.text-warning {
    color: rgb(223, 117, 20);
    /* this is an orange */
}

.text-secondary {
    color: rgb(66, 184, 221);
    /* this is a light blue */
}
