include partials/board

.pure-u-1.pure-u-md-1-2
  .l-box.right
    table.pure-table
      thead
        tr
          th Board name
          th Total duration
          th Inc
      tbody
        each board in boards
          +board(board)
